.agent {
    min-height: 342px;
    padding: 58px 0 75px 0;
    background: url('../img/agent-bg.png') no-repeat 50% / cover;    
    &__icon {
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }

    &__descr {
        margin-top: 22px;
        font-family: Roboto;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
}
