footer {
    min-height: 201px;
    background-color: #25333c;
    padding: 24px 0 39px 0;
    }

.footer {
    &__divider {
        margin: 26px auto 30px auto;
        max-width: 1171px;
        height: 1px;
        opacity: 0.3;
        background-color: #fff;
    }
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    &__title {
        width: 682px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
    }

    &__call {
        display: flex;
        flex-direction: column;
        justify-content: end;
        justify-self: end;
        &_quest {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #ffffff;
            text-align: right;
        }

        &_tel {
            a {
               font-size: 19px;
                line-height: 24px;
                font-weight: 700;
                color: #ffffff; 
            }
        }
    }
}

.confidence {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__copy {
        opacity: 0.6;
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
    }

    &__policy {
        a {
            font-size: 13px;
            line-height: 17px;
            font-weight: 300;
            text-decoration: underline;
            color: $main-color;
        }
        
    }

    &__create {
        display: flex;
        flex-direction: row;
        align-items: center;
        &_descr {
            opacity: 0.6;
            font-size: 13px;
            line-height: 17px;
            font-weight: 300;
            color: #ffffff;
        }
    }
}
